<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-brand" href="#">
        <div class="center-align-logo-text">
          <a routerLink="/home"> 
            <img src="../assets/Suresh-Thumbnail.jpg" alt="Thumbnail-Image" class="thumbnail-logo">
            <span class="thumbnail-column">InEvitable</span>
          </a>
        </div>
    </div>
    <ul class="nav navbar-left nav-pills">
        <li><a #homeMenu routerLink="/home" routerLinkActive="btn btn-primary">Home</a></li>
        <li><a #aboutMeMenu routerLink="/about-me" routerLinkActive="btn btn-primary">About Me</a></li>
        <li><a #contactMeMenu routerLink="/contact-me" routerLinkActive="btn btn-primary">Contact Me</a></li>
    </ul>
</nav>